{% extends './base.html' %}

{% block title %} Login {% endblock %}


{% block body %}
<body class="bg-gray-200 h-screen flex items-center justify-center">

    <div class="bg-white p-8 rounded shadow-md w-96">
        <h1 class="text-2xl font-semibold mb-4">AdminTotal</h1>

        <form id="loginForm" action="/login" method="POST">
            <div class="mb-4">
                <label for="nombre" class="block text-gray-600 text-sm font-medium">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="w-full mt-1 p-2 border rounded">
            </div>

            <div class="mb-4">
                <label for="contraseña" class="block text-gray-600 text-sm font-medium">Contraseña:</label>
                <input type="password" id="contraseña" name="contraseña" class="w-full mt-1 p-2 border rounded">
            </div>

            <button class="w-full bg-blue-500 text-white p-2 rounded" type="submit">Iniciar sesión</button>
        </form>
    </div>
</body>
{% endblock %}
</html>
